*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: #1f242d;
    color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
.navbar .head{
    color: #0ef;
}
.header a:hover{
    color: #0ef;
}
.home{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    /* animation-delay: .7s; */
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .5s;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}
.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}
.home-img img{
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 1s;

}
.social-media{
    margin-top: 20px;
    margin-right: 10px;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 150x 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;



}
.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}
.btn{
    display: inline-block;
    margin-top: 30px;
    padding: 12px 28px;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
    margin-top: 30px;
    
    
    

}
.but{
    color: #1f242d;
    font-weight: 600;
    font-size: 16px;
}


.mypic{
    height: 400px;
    /* border-radius: 40px; */
    background: transparent;
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #0ef;
}
.aboutme{
    padding: 100px;
    margin-top: 80px;
}
.ahead{
    font-size: 54px;
    color: #fff;
    text-decoration: none;

    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.phead{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
    padding: 20px;
    margin-top: 25px;
    background: transparent;
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #0ef;

}
.contact{
  
  padding: 100px;
  display: block;

}
.cname{
    font-size: 54px;
    color: #fff;
    text-decoration: none;

    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.cform{
    padding: 40px;
    line-height: 60px;
    
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
.cform input{
    height: 30px;
    background: transparent;
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #0ef;

}
.cform textarea{
    height: 90px;
    background: transparent;
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #0ef;
    margin-bottom: 30px;
}
.send{
    height: 40px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #0ef;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    margin-top: 30px;
    font-size: 16px;
    color:#fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
    cursor: pointer;
}
.skills{
    padding: 100px;
}
.sname{
    font-size: 54px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}
.slist{
    padding: 30px;
    margin-left: 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    line-height: 40px;
    font-size: 22px;
    color: #0ef;
    

}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}